<div id="wrapper">
    <app-nav></app-nav>
    <div id="page-wrapper" class="gray-bg">
        <app-menu></app-menu>

        <div class="row wrapper border-bottom white-bg page-heading">
          <div class="col-lg-10">
              <h2>Árbol de procesos</h2>
              <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                      <a href="index.html">Home</a>
                  </li>
                  <li class="breadcrumb-item">
                      <a>Procesos</a>
                  </li>
                  <li class="breadcrumb-item active">
                      <strong>Árbol de procesos</strong>
                  </li>
              </ol>
          </div>
          <div class="col-lg-2">

          </div>
      </div>

  <div class="wrapper wrapper-content animated fadeInRight ecommerce">




      <div class="row">
          <div class="col-lg-12">
              <div class="ibox">
                  <div class="ibox-content">

                    <div class="row">
                      <div class="col-lg-12">
                          <div class="ibox">
                              <div class="ibox-content">

                                  <div id="tabla"></div>
                              </div>
                          </div>
                      </div>
                  </div>

                  </div>
              </div>
          </div>
      </div>


  </div>
  <div class="footer">
      <div class="float-right">
          Proyecto <strong>1</strong> Diciembre 2021.
      </div>
      <div>
          <strong>SO1</strong> Carné: &copy; 201602676
      </div>
  </div>
    </div>
   </div>
