<div id="wrapper">
    <app-nav></app-nav>
    <div id="page-wrapper" class="gray-bg">
        <app-menu></app-menu>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-log-10">
                <h2>Lista de procesos y sus hijos</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Principal</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>Lista de procesos</a>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <!--INICIO DE LA TABLA-->
        <div class="wrapper wrapper-content animated fadeInRight ecommerce">


            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div id="tabla">

                            </div>



                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="footer">
            <div class="float-right">
                Carné: <strong>201602676</strong>.
            </div>
            <div>
                <strong>Proyecto 1</strong> Sistemas operativos I &copy; 2021
            </div>
        </div>


    </div>
   </div>
